body {
    margin: 0px;
    background-image:url("back.jpg");
    background-size: auto auto;
    color: white;
}


.headerParagraph {
    margin: 0;
    text-align: center;
}


#boardCanvas {
    background-color: #222222f0;
    border-color: #222222;
    border-radius: 8px;
    box-shadow: 8px 8px 16px #222222;
    display: block;
    margin: 0 auto;
    padding: 8px;
    width: 300px;
}

#centerPanel{
    float: left;
    margin: 0 auto;
    width: 30%;
}

#leftPanel{
    float: left;
    width: 35%;
}

#main {
    width: 100%;
}


#nextPieceDiv {
    background-color: #222222f0;
    border-color: #222222;
    border-radius: 8px;
    box-shadow: 8px 8px 16px #222222;
    margin: 0 auto;
    width: 240px;
}

#rightPanel{
    float: left;
    width: 35%;
}

#scoreDiv {
    background-color: #222222f0;
    border-color: #222222;
    border-radius: 8px;
    box-shadow: 8px 8px 16px #222222;
    margin: 0 auto;
    width: 240px;
}

#scoreParagraph, #levelParagraph, #linesParagraph {
    color: yellow;
    font-size: 32px;
    margin-bottom: 16px;
    margin-top: 0;
    text-align: center;
}

#space {
    height: 50px;
}
